.card-innerbody {
    display: flex;
    justify-content: space-between;
}

.odd {
    height: 50px !important;
    background: #eee;
}

.even {
    height: 50px;
    background: #b4d6d3;
}

.form-check {
    position: relative;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 0;
}

.table,
.table td {
    text-align: center;
    line-height: 1;
    white-space: nowrap;
    padding: 0rem 0rem;
}

.switch label input[type="checkbox"]:checked+.lever {
    background-color: #dccfe2;
}

.switch label .lever {
    position: relative;
    display: inline-block;
    margin: 0 1rem;
    margin-right: 0.625rem;
    vertical-align: middle;
    content: "";
    background-color: #818181;
    border-radius: 0.9375rem;
    width: 2.5rem;
    height: 0.9375rem;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
}

.switch label {
    cursor: pointer;
}

.switch label input[type="checkbox"]:checked+.lever:after {
    left: 1.5rem;
    background-color: #4300b6;
}

.switch label .lever:after {
    position: absolute;
    top: -0.1875rem;
    left: -0.3125rem;
    display: inline-block;
    content: "";
    background-color: #f1f1f1;
    border-radius: 1.3125rem;
    -webkit-box-shadow: 0 0.0625rem 0.1875rem 0.0625rem rgb(0 0 0 / 40%);
    box-shadow: 0 0.0625rem 0.1875rem 0.0625rem rgb(0 0 0 / 40%);
    width: 1.3125rem;
    height: 1.3125rem;
    -webkit-transition: left .3s ease, background .3s ease, -webkit-box-shadow 1s ease;
    transition: left .3s ease, background .3s ease, -webkit-box-shadow 1s ease;
    transition: left .3s ease, background .3s ease, box-shadow 1s ease;
    transition: left .3s ease, background .3s ease, box-shadow 1s ease, -webkit-box-shadow 1s ease;
}

.switch label input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}

.select2-selection {
    margin: 0.6rem 0 !important;
}

.select-margin {
    margin: 0.6rem 0 !important;
}

th {
    text-align: center !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 16px;
    right: 1px;
    width: 20px;
}

.row {
    align-items: center;
}